@import "bootstrap/scss/bootstrap";

$product-border-color: #ccc;
$product-background-color: #eee;
$product-hover-color: #e3dcb8;
$product-disabled-color: #bbb;
$black: #000;

.products,
.moneypad {
    border-left: 1px solid $product-border-color;
}

.product,
.coin {
    border-top: 1px solid $product-border-color;
    border-bottom: 1px solid $product-border-color;
    border-right: 1px solid $product-border-color;
    background-color: $product-background-color;

    &:hover {
        background-color: $product-hover-color;
        cursor: grab;
    }

    &:nth-of-type(n+5) {
        border-top: none;
    }

    @include media-breakpoint-down(md) {
        &:nth-of-type(n+4) {
            border-top: none;
        }
    }

    @include media-breakpoint-down(xs) {
        &:nth-of-type(n+3) {
            border-top: none;
        }
    }
}

.product {
    min-height: 7.5rem;

    &--disabled {
        background-color: $product-disabled-color;

        &:hover {
            background-color: $product-disabled-color;
            cursor: auto;
        }
    }

    &__name {
        color: $black;
    }

    &__qty {
        font-size: 0.8125rem;
    }

    &__price {
        font-size: 0.8125rem;
    }
}

.totals {
    max-width: 16rem;
}

.moneypad {
    max-width: 16rem;

    .coin {
        min-height: 3.75rem;
        min-width: 3.75rem;
    }
}
